@font-face {
  font-family: "PixelarRegularW01-Regular";
  src: url("//db.onlinewebfonts.com/t/b2e75c336df191233b3096682c9ee6be.eot");
  src: url("//db.onlinewebfonts.com/t/b2e75c336df191233b3096682c9ee6be.woff")
    format("woff");
}
@import url("//db.onlinewebfonts.com/c/b2e75c336df191233b3096682c9ee6be?family=PixelarRegularW01-Regular");
@font-face {
  font-family: "OrangeKid";
  src: local("OrangeKid-Regular"), url("orange kid.woff") format("woff");
}
@font-face {
  font-family: "Joystick";
  src: local("Joystick"), url("JoystixProportional-Regular.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "MonoAMano";
  src: local("MonoAMano"), url("Mono-a-Mano-Regular.ttf.woff") format("woff");
}
html,
body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
h2,
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.body-wrapper {
  overflow-x: hidden;
}
// Navbar Start
nav {
  height: 80px;
  width: 100%;
  background-color: #12fed8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  box-sizing: border-box;
}
.menu {
  margin: 0;
  padding: 0;
  display: flex;
  h2 {
    display: none;
  }
  li {
    margin-right: 35px;
    a {
      color: black;
      // font-family: "OrangeKid";
      font-family: "PixelarRegularW01-Regular";
      text-decoration: none;
      font-size: 28px;
      letter-spacing: 2px;
    }
  }
}
.logo-icons {
  margin: 0;
  padding: 0;
  display: flex;
  li {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 8px;
    margin-left: 18px;
  }
}
.toggler {
  display: none;
}
@media screen and (max-width: 980px) {
  .toggler {
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  nav {
    position: relative;
    padding: 0px 10px;
  }
  .menu {
    position: fixed;
    height: 100vh;
    width: 320px;
    top: 0px;
    left: -100%;
    background-color: #2d0067;
    z-index: 2;
    flex-direction: column;
    padding-top: 64px;
    text-align: center;
    transition: 0.5s;
    h2 {
      display: block;
      font-family: "PixelarRegularW01-Regular";
      color: white;
      font-size: 48px;
      margin: 48px 0px;
      font-weight: 700;
    }
    li {
      margin: 0;
      z-index: 3;
      a {
        color: white;
        font-size: 32px;
        margin-bottom: 10px;
        display: inline-block;
      }
    }
  }
  .open-menu {
    left: 0%;
  }
}
@media screen and (max-width: 500px) {
  .menu {
    width: 100%;
  }
}
// Banner Start
.banner {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("../assets/img/banner.png");
  background-position: center;
  background-size: cover;
  padding-top: 68px;
  box-sizing: border-box;
  text-align: center;
  h2 {
    font-family: "Joystick";
    color: #e1f4f1;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #10badb;
    text-shadow: 0px 0px 15px #e1f4f1;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    line-height: 45px;
    span {
      font-size: 40px;
    }
  }
  p {
    color: white;
    font-family: "OrangeKid";
    font-size: 28px;
    margin: 0 auto;
    max-width: 920px;
    letter-spacing: 2px;
    margin-top: -50px;
    text-align: left;
    line-height: 38px;
    span {
      font-size: 34px;
      letter-spacing: 7px;
      word-spacing: 3px;
    }
  }
}

// Four Start
.four {
  width: 100%;
  height: 300px;
  background-image: url("../assets/img/4444.png");
  background-size: cover;
  background-position: center;
  position: relative;
  h2 {
    font-size: 300px;
    font-family: "MonoAMano";
    color: rgba(107, 0, 255, 0.6);
    margin: 0;
    position: absolute;
    bottom: -97px;
    left: 200px;
  }
  .expand {
    left: 210px;
    color: rgba(107, 0, 255, 0.8);
  }
}
// Mint Start
.mint {
  height: 350px;
  width: 100%;
  background-image: url("../assets/img/mint-bg.png");
  background-position: center;
  background-size: cover;
  .row {
    height: 100%;
    align-items: center;
  }
}
.mint-box {
  padding-left: 220px;
  .mint-heading {
    font-family: "OrangeKid";
    font-size: 80px;
    margin-bottom: 0px;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: 223431;
  }
  .input-box {
    display: flex;
    align-items: center;
    margin-top: 32px;
    .input-btn {
      display: flex;
    }
    input,
    button {
      height: 70px;
      width: 150px;
      border: none;
      font-size: 44px;
      font-family: "OrangeKid";
    }
    input {
      background-color: #c7f9f3;
      padding-left: 20px;
      box-sizing: border-box;
      &:focus {
        outline: none;
      }
    }
    .input-wrapper {
      position: relative;
      z-index: 1;
      margin-right: 38px;
      &:after {
        content: "";
        position: absolute;
        background-color: white;
        height: 78px;
        width: 100%;
        top: -4px;
        left: 0;
        z-index: -1;
      }
      &:before {
        content: "";
        position: absolute;
        background-color: white;
        height: 100%;
        width: 158px;
        top: 0px;
        right: -4px;
        z-index: -1;
      }
    }
    button {
      background-image: linear-gradient(#fe2a76, #dd1471);
      position: relative;
      color: white;
      display: block;
      margin-right: 38px;
      z-index: 1;
      &:after {
        content: "";
        position: absolute;
        background-color: #fe2a77;
        height: 78px;
        width: 100%;
        top: -4px;
        left: 0;
        z-index: -1;
      }
      &:before {
        content: "";
        position: absolute;
        background-color: #fe2a77;
        height: 100%;
        width: 105%;
        top: 0px;
        right: -4px;
        z-index: -1;
      }
    }
    .mint-total {
      font-family: "OrangeKid";
      letter-spacing: 2px;
      font-size: 44px;
      span {
        color: #eb1d73;
      }
    }
  }
}
.mint-img-wrapper {
  position: relative;
  height: 350px;
  width: 100%;
  .mint-img {
    text-align: center;
    position: absolute;
    top: -132px;
    left: 50%;
    transform: translateX(-50%);
    img {
      width: 500px;
    }
  }
}
// Feature Start

.heading {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(#290062, #180134);
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    color: white;
    text-align: center;
    margin: 0;
    font-family: "OrangeKid";
    text-transform: uppercase;
    font-size: 100px;
    letter-spacing: 10px;
  }
}
.fimage-box {
  // text-align: right;
  width: 332px;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .fimage-box {
    width: 100%;
  }
}
.main-feature {
  padding-top: 200px;
  box-sizing: border-box;
  background-image: linear-gradient(#140143, #a100df, #0b0136);
  .main-feature-top {
    padding: 0px 85px;
  }
}
.nipple-box {
  margin-top: 20px;
}
.nipple-first-row {
  justify-content: flex-end;
}
.nipple-last-row {
  justify-content: flex-end;
}
@media screen and (max-width: 992px) {
  .nipple-last-row {
    justify-content: flex-start;
  }
}
.feature-bg-img {
  margin-top: -100px;
}
.blocks {
  position: relative;
  height: 100%;
  width: 100%;
  .block {
    position: absolute;
    // animation-name: rotate;
    // animation-duration: 4s;
    // animation-iteration-count: infinite;
    // animation-timing-function: linear;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .block1 {
    height: 80px;
    width: 15px;
    background-color: #e0dca2;
    top: 0;
    right: 30%;
    box-shadow: 0px 0px 18px #e0dca2;
  }
  .common-block {
    height: 12px;
    width: 40px;
  }
  .block2 {
    background-color: #30d2e5;
    box-shadow: 0px 0px 18px #30d2e5;
    top: 50px;
    left: 20%;
  }
  .block3 {
    background-color: #2c73e4;
    box-shadow: 0px 0px 18px #2c73e4;
    top: 90px;
    left: 20%;
  }
  .block4 {
    background-color: #30d2e5;
    box-shadow: 0px 0px 18px #30d2e5;
    height: 40px;
    width: 90px;
    left: 10%;
    top: 150px;
  }
  .block5 {
    background-color: #da8ce2;
    box-shadow: 0px 0px 18px #da8ce2;
    height: 11px;
    width: 52px;
    top: 160px;
    left: 35%;
  }
  .block6 {
    background-color: #e0dca2;
    box-shadow: 0px 0px 18px #e0dca2;
    height: 65px;
    width: 9px;
    top: 200px;
    left: 39%;
  }
  .block7 {
    background-color: #30d2e5;
    box-shadow: 0px 0px 18px #30d2e5;
    top: 230px;
    left: 55%;
  }
  .block8 {
    background-color: #da8ce2;
    box-shadow: 0px 0px 18px #da8ce2;
    top: 270px;
    left: 62%;
  }
  .block9 {
    background-color: #2c73e4;
    box-shadow: 0px 0px 18px #2c73e4;
    top: 300px;
    left: 54%;
  }
  .block10 {
    background-color: #30d2e5;
    box-shadow: 0px 0px 18px #30d2e5;
    height: 35px;
    width: 100px;
    top: 290px;
    left: 70%;
  }
}
.block-img {
  display: none;
}
@media screen and (max-width: 1000px) {
  .blocks {
    display: none;
  }
  .block-img {
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
// Music Start
.music {
  background-image: url("../assets/img/music-bg.png");
  background-position: center;
  background-size: cover;
  text-align: center;
}
// Roadmap Start
.roadmap {
  height: 220vh;
  width: 100%;
  background-image: url("../assets/img/sunset.png");
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
  h2 {
    font-family: "OrangeKid";
    font-size: 100px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 10px;
    color: black;
  }
}
.roadmap-text {
  padding-left: 15%;
  font-family: "OrangeKid";
  margin-top: 30px;
  .roadmap-heading {
    font-size: 28px;
  }
  .roadmap-list {
    margin-top: 30px;
    p {
      font-size: 30px;
      margin: 0;
    }
    ul {
      margin: 0;
      padding: 0;
      max-width: 795px;
      li {
        font-size: 28px;
      }
    }
  }
}
// Plane Start
.plane {
  background-image: linear-gradient(#0e0039, #4a0089);
}
// Team Start
.team {
  position: relative;
  h2 {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin: 0;
    text-transform: uppercase;
    font-size: 100px;
    font-family: "OrangeKid";
    color: white;
    letter-spacing: 15px;
  }
}

@media screen and (max-width: 1700px) {
  .mint-box {
    padding-left: 100px;
  }
  .mint-img-wrapper {
    .mint-img {
      top: -30px;
    }
  }
}
@media screen and (max-width: 1400px) {
  .mint-box {
    padding-left: 50px;
  }
  .mint-img-wrapper {
    .mint-img {
      top: 0px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .mint {
    height: auto;
    padding-bottom: 50px;
    .flex-inverse {
      flex-direction: column-reverse;
    }
  }
  .mint-box {
    padding-left: 50px;
  }
  .mint-img-wrapper {
    height: 90px;
    .mint-img {
      width: 290px;
      left: 90%;
      transform: translateX(-90%);
    }
  }
  .feature-bg-img {
    margin-top: 0;
  }
}

@media screen and (max-width: 1000px) {
  .mint-img-wrapper {
    .mint-img {
      top: -150px;
    }
  }
  .feature-bg-img {
    margin-top: 50px;
  }
}
@media screen and (max-width: 700px) {
  .mint-img-wrapper {
    height: 45px;
    .mint-img {
      width: 230px;
    }
  }
}
@media screen and (max-width: 400px) {
  .mint-img-wrapper {
    height: 45px;
    .mint-img {
      width: 195px;
      top: -99px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .fimage-box {
    text-align: center;
  }
  .blocks {
    height: 430px;
    width: 100%;
    margin-top: 50px;
  }
}
@media screen and (max-width: 940px) {
  .banner {
    padding-left: 10px;
    padding-right: 10px;
    p {
      margin-top: -85px;
    }
  }
}
@media screen and (max-width: 800px) {
  .banner {
    p {
      margin-top: -100px;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      span {
        font-size: 30px;
        display: block;
        margin-bottom: 50px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .banner {
    background-image: url("../assets/img/banner-mobile.png");
    padding-top: 75px;
    padding-bottom: 100px;
    height: auto;
    p {
      margin-top: -50px;
      line-height: 29px;
    }
  }
}
@media screen and (max-width: 1000px) {
  .four {
    h2 {
      left: 20px;
    }
    .expand {
      left: 30px;
    }
  }
}
@media screen and (max-width: 1000px) {
  .four {
    h2 {
      font-size: 200px;
      bottom: -62px;
    }
  }
}
@media screen and (max-width: 700px) {
  .four {
    height: 210px;
    h2 {
      font-size: 125px;
      bottom: -40px;
    }
  }
}
@media screen and (max-width: 600px) {
  .mint-box {
    .input-box {
      flex-direction: column;
      align-items: flex-start;
      .mint-total {
        font-size: 36px;
        margin-top: 20px;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .mint-box {
    padding-left: 20px;
    padding-right: 20px;
    .input-box {
      input,
      button {
        width: 140px;
      }
      .input-wrapper {
        margin-bottom: 20px;
        &:before {
          width: 106%;
        }
      }
    }
  }
  .mint-img-wrapper {
    padding: 0px 20px;
  }
}
@media screen and (max-width: 400px) {
  .heading {
    h2 {
      font-size: 80px;
    }
  }
}
@media screen and (max-width: 580px) {
  .main-feature {
    padding-top: 100px;
    .main-feature-top {
      padding: 0px 20px;
    }
  }
}

@media screen and (max-width: 900px) {
  .team {
    h2 {
      top: 0;
    }
  }
}
@media screen and (max-width: 600px) {
  .team {
    h2 {
      font-size: 60px;
      text-shadow: 0px 0px 10px #4a0089;
    }
  }
}

@media screen and (max-width: 990px) {
  .roadmap {
    h2 {
      font-size: 60px;
    }
  }
  .roadmap-text {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 670px) {
  .roadmap {
    height: auto;
    padding-bottom: 100px;
    padding-top: 50px;
  }
}
